.box {
  padding: 20px 30px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.box-purple {
  background-color: #8624DB;
  color: #fff;
}
.box-fullheight {
  height: calc(100% - 48px);
}
@media only screen and (max-width: 1366px) {
  .box-fullheight {
    height: calc(100% - 24px);
  }
}/*# sourceMappingURL=box.css.map */