.dashboard-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
}
@media only screen and (max-width: 1366px) {
  .dashboard-wrapper {
    flex-direction: column;
  }
}
.dashboard-wrapper__main {
  flex-grow: 1;
  padding-right: 384px;
}
@media only screen and (max-width: 1366px) {
  .dashboard-wrapper__main {
    padding-right: 0;
  }
}
.dashboard-wrapper__right {
  width: 384px;
  background-color: #fff;
  height: 100vh;
  padding: 48px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  position: fixed;
  top: 0;
  right: 0;
}
@media only screen and (max-width: 1366px) {
  .dashboard-wrapper__right {
    position: relative;
    padding: 24px;
    margin-top: 24px;
    border-radius: 30px;
    width: 100%;
    height: max-content;
  }
}/*# sourceMappingURL=dashboard-wrapper.css.map */