.main {
  padding-left: 384px;
  overflow-x: hidden;
}
@media only screen and (max-width: 1366px) {
  .main {
    padding-left: 0;
    width: 100vw;
  }
}
.main__content {
  min-height: 100vh;
  padding: 48px;
  transition: all 0.5s ease-in-out;
}
@media only screen and (max-width: 1366px) {
  .main__content {
    padding: 24px;
    position: relative;
    background-color: #F3F4FA;
    z-index: 100;
  }
}

.sidebar-open .main__content {
  height: 100vh;
  overflow: hidden;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  transform: scale(0.8) translateX(50%);
  transition: all 0.5s ease-in-out;
}/*# sourceMappingURL=main-layout.css.map */