.overall-list > * ~ * {
  margin-top: 24px;
}
.overall-list__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.overall-list__item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  --size: 50px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: #F3F4FA;
  margin-right: 48px;
}
.overall-list__item__icon i {
  font-size: 1.9rem;
  color: #000;
}
.overall-list__item__info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}/*# sourceMappingURL=overall-list.css.map */