.progress-bar {
  height: 10px;
  background-color: #F3F4FA;
  border-radius: 2.5px;
}
.progress-bar__inner {
  border-radius: 2.5px;
  height: 100%;
  background-color: #FF9066;
}/*# sourceMappingURL=progress-bar.css.map */