.revenue-list > * ~ * {
  margin-top: 24px;
}
.revenue-list__item__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  margin-bottom: 8px;
}
.revenue-list__item__title span {
  font-weight: 700;
}/*# sourceMappingURL=revenue-list.css.map */