:where(.css-dev-only-do-not-override-1km3mtt).ant-input-group > .ant-input-affix-wrapper:not(:last-child) .ant-input {
  padding: 10px;
}

:where(.css-dev-only-do-not-override-1km3mtt).ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary) {
  box-shadow: none;
  border: none;
}

:where(.css-dev-only-do-not-override-1km3mtt).ant-input-search > .ant-input-group > .ant-input-group-addon:last-child {
  padding: 8px;
}/*# sourceMappingURL=searchBar.modules.css.map */