.sidebar {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  color: #4E4D4F;
  width: 384px;
  background-color: #fff;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 100;
}
@media only screen and (max-width: 1366px) {
  .sidebar {
    width: 100vw;
    background-color: #8624DB;
    color: #fff;
    z-index: 1;
  }
}
.sidebar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 171px;
}
@media only screen and (max-width: 1366px) {
  .sidebar__logo {
    justify-content: space-between;
    height: 95px;
    padding: 0 24px;
    margin-bottom: 24px;
  }
}
.sidebar__logo img {
  --size: 55px;
  width: var(--size);
  height: var(--size);
}
.sidebar__logo .sidebar-close {
  cursor: pointer;
  display: none;
}
.sidebar__logo .sidebar-close i {
  font-size: 2rem;
}
@media only screen and (max-width: 1366px) {
  .sidebar__logo .sidebar-close {
    display: block;
  }
}
.sidebar__menu {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  flex-grow: 1;
}
.sidebar__menu__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 2rem;
  padding-left: 20%;
  transition: color 0.3s ease-in-out;
}
@media only screen and (max-width: 1366px) {
  .sidebar__menu__item {
    padding-left: 24px;
  }
}
.sidebar__menu__item:hover {
  color: #8624DB;
}
@media only screen and (max-width: 1366px) {
  .sidebar__menu__item:hover {
    color: #FF9066;
  }
}
.sidebar__menu__item.active {
  font-weight: 700;
  color: #8624DB;
}
@media only screen and (max-width: 1366px) {
  .sidebar__menu__item.active {
    color: #FF9066;
  }
}
.sidebar__menu__item.active::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 5px;
  left: 0;
  top: 0;
  background-color: #8624DB;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
@media only screen and (max-width: 1366px) {
  .sidebar__menu__item.active::before {
    background-color: #FF9066;
  }
}
.sidebar__menu__item__icon {
  --size: 40px;
  width: var(--size);
  height: var(--size);
  margin-right: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 1366px) {
  .sidebar__menu__item__icon {
    margin-right: 1rem;
  }
}
.sidebar__menu__item__icon i {
  font-size: 1.9rem;
}
.sidebar__menu__item:last-child {
  margin-top: auto;
  cursor: pointer;
}/*# sourceMappingURL=sidebar.css.map */