.summary-box {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}
.summary-box__chart {
  width: 40%;
}
.summary-box__chart__value {
  margin-top: -30%;
  font-weight: 700;
}
.summary-box__info {
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.summary-box__info__title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
}
.summary-box__info__title span {
  font-size: 13px;
  font-weight: 400;
}
.summary-box__info__value {
  font-weight: 700;
  font-size: 1.5625rem;
  color: #000;
}

.summary-box-special {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.summary-box-special__title {
  font-weight: 700;
  font-size: 1.25rem;
}
.summary-box-special__value {
  font-size: 1.5625rem;
  font-weight: 700;
}/*# sourceMappingURL=summary-box.css.map */