.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}
@media only screen and (max-width: 1366px) {
  .topnav {
    margin-bottom: 24px;
  }
}

.sidebar-toggle {
  --size: 40px;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}
@media only screen and (max-width: 1366px) {
  .sidebar-toggle {
    display: flex;
  }
}
.sidebar-toggle i {
  font-size: 3rem;
  color: #8624DB;
}/*# sourceMappingURL=topnav.css.map */