.user-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  border-radius: 30px;
  height: 50px;
  width: max-content;
}
.user-info__img {
  --size: 50px;
  width: var(--size);
  height: var(--size);
  border-radius: 30px;
}
.user-info__img img {
  border-radius: 30px;
}
.user-info__name {
  padding: 0 48px;
  font-size: 1.25rem;
  font-weight: 700;
}
@media only screen and (max-width: 1366px) {
  .user-info__name {
    padding: 0 24px;
  }
}/*# sourceMappingURL=user-info.css.map */